<a href="https://colab.research.google.com/github/a-kanaan/SharedWorkspace/blob/master/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# شكل البيانات

|البيض|الماء| الطحين| النتيجة|
|------|------|------|------|
|3  |1  |3  | جيد|
|4  |1  |4  | جيد |
|3  |2  |3  | سيء |
|3  |2  |4  | سيء |

# تمثيل البيانات في بايثون

In [0]:
import pandas as pd

data = pd.DataFrame([[3, 1, 3], [4, 1, 4], [3, 2, 3], [3, 2, 4]], columns= ['البيض', 'الماء', 'الطحين'])
data['النتجية'] = [0, 0, 1, 1]
data

   البيض  الماء  الطحين  النتجية
0      3      1       3        0
1      4      1       4        0
2      3      2       3        1
3      3      2       4        1

In [0]:
# نعرف المتحول x أو س
x = data.iloc[:, :-1]
x

   البيض  الماء  الطحين
0      3      1       3
1      4      1       4
2      3      2       3
3      3      2       4

In [0]:
y = data.iloc[:, -1]
y

0    0
1    0
2    1
3    1
Name: النتجية, dtype: int64

# تطبيق خوارزمية kNN يدويا

In [0]:
x0 = pd.array([4, 2, 4])
a = (x - x0)**2
data['المسافة'] = a.sum(axis=1)
data

   البيض  الماء  الطحين  النتجية  المسافة
0      3      1       3        0        3
1      4      1       4        0        1
2      3      2       3        1        2
3      3      2       4        1        1

# تطبيق خوارزمية kNN باستخدام مكتبة sklearn

In [0]:
from sklearn.neighbors import KNeighborsClassifier
k = 3

knn = KNeighborsClassifier(n_neighbors=k).fit(x, y)

In [0]:
knn.predict([x0])

array([1])